$main-gradient: linear-gradient(266.77deg, #FFFFFF -11.99%, #D795FF 42.41%, #7BC2FE 91.84%);
$main-bg: linear-gradient(180deg, rgba(46, 51, 90, 0.3) 0%, rgba(28, 27, 51, 0.3) 100%);
$main-color: linear-gradient(#6d5289e6, #6d5289e6);
// $main-color: linear-gradient(rgba(46, 51, 90, 0.9), rgba(28, 27, 51, 0.3));

$header-color: rgba(29, 1, 65, 0.3);